body{

    font-family: 'Ubuntu', sans-serif;
    background-color: #a7c5eb;
    text-align: center;
             
}


h1{
    
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
   
       }

.main-item{
   
   margin-top:10%;
}

#main-id{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

.myDownload-btn{
      margin-left: 50%;
      font-size: 1.5em;
}


/* Feature Section  */
#features{
    background-color: #e99fa5;
   
     padding: 7% 15%;
}
h3{

    padding-top: 3%;
}

h2{
    font-size: 1.5rem;
    color: darkslategray;
}



/* Testimonial */
.earlyadapter{
   
    width: 400px;
    height: 300px;
    margin: 10px 10px 10px 10px;
     transition:all 1s ;
    border-radius: 20%;
}



#testimonials{
    background-color: #949cdf;
    padding-bottom: 3%;
}
footer>p{

    text-align: justify;
    color: rgb(38, 0, 255);
}


